* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	text-decoration: none;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

.header {
	height: 120px;
	background-color: #e8ebf1;
}

.header-nav {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-nav-items {
	list-style: none;
	display: flex;
}

.header-nav-item {
	position: relative;
	margin-left: 30px;
}

.header-nav-item:first-child {
	margin: 0;
}

.nav-item-link:hover {
	background-color: #fff;
	box-shadow: 0 -5px 0 #2aacc8;
}

.header-nav-item:hover .nav-menu-items {
	display: block;
	background-color: #fff;
	filter: drop-shadow(0px 5px 0px #2aacc8);
}

.nav-item-link {
	font-size: 13px;
	line-height: 20px;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	padding: 5px 10px;
}

.icon-arrow {
	margin-left: 10px;
}

.logo {
	display: block;
	width: 150px;
	height: 50px;
	background-image: url("../img/logo.png");
}

.logo:hover {
	opacity: 50%;
}

.nav-menu-items {
	display: none;
	list-style: none;
	position: absolute;
	top: 21px;
	left: 0;
	width: 200px;
	padding: 5px;
	z-index: 10;
}

.nav-menu-item {
	border-bottom: 1px solid #e7e7e7;
}

.nav-menu-item:last-child {
	border: none;
}

.menu-item-link {
	font-size: 13px;
	line-height: 36px;
	color: #000;
	margin-left: 15px;
}

.menu-item-link:hover, .nav-item-link:hover {
	color: #2aacc8;
}

.wrapper {
	background-color: #81e4ed;
	padding: 30px 0 30px;
}

.carousel-box {
	width: 1000px;
	height: 440px;
	position: relative;
}

.carousel-coffee {
	width: 1000px;
	height: 440px;
	background-color: #e05936;
	background-image: url("../img/cup.png"), url("../img/comments.png");
	background-repeat: no-repeat;
	background-position: center center, center right;
	display: flex;
	align-items: center;
}

.box-bg:before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(224, 89, 54, 0.7);
}

.carousel-text {
	font-family: 'Lato', sans-serif;
	font-size: 50px;
	color: #fff;
	font-weight: 700;
	width: 370px;
	margin-left: 60px;
}

.slick-slide {
	max-height: 440px;
}

.carousel-box img {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.services {
	background-color: #e8ebf1;
	min-height: 300px;
	display: flex;
	align-items: center;
}

.services-boxes {
	display: flex;
	justify-content: space-between;
}

.services-box {
	flex-basis: 220px;
}

.services-heading {
	display: flex;
	align-items: center;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.icn-bg {
	padding: 8px;
	background-color: #2aacc8;
	border-radius: 50%;
	color: #fff;
	font-size: 20px;
	margin-right: 20px;
}

.services-text {
	font-size: 13px;
	line-height: 20px;
	color: #363636;
	margin: 20px 0 30px;
}

.services-link {
	font-size: 13px;
	color: #2aacc8;
	border-bottom: 1px solid transparent;
  	transition: all ease-in-out 1s;
}

.services-link:hover {
	color: #2a4ac8;
  	border-color: #2a4ac8;
}

.arrow-right {
	color: #000;
	margin-right: 10px;
}

.dwnld {
	padding: 45px 0;
}

.dwnld-box {
	height: 140px;
	background-color: #e8fcfe;
	border: 1px solid #81e4ed;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.dwnld-text {
	font-size: 16px;
	line-height: 26px;
	color: #363636;
	width: 613px;
}

.btn-dwnld {
	text-transform: uppercase;
	background: linear-gradient(0deg, #29abc7 0%, #5fcddd 15%, #71d9e5 50%, #81e3ed 100%);
	border: 1px solid #2aacc8;
	border-radius: 8px;
	width: 240px;
	height: 60px;
	font-weight: bold;
	filter: drop-shadow(0px 2px 1.5px rgba(0,0,0,0.2));
	font-size: 18px;
	line-height: 20px;
	color: #0d0707;
}

.btn-dwnld:hover {
	filter: drop-shadow(0px -2px 1.5px rgba(0,0,0,0.2));
	background: linear-gradient(180deg, #29abc7 0%, #5fcddd 15%, #71d9e5 50%, #81e3ed 100%);
	cursor: pointer;
}

.icon-download-psd {
	margin-right: 20px;
}

.icon-download-psd:before {
	color: #fff;
	font-size: 25px;
}

.footer {
	height: 93px;
	background-color: #e8ebf1;
	border: 1px solid rgba(0,0,0,0.15);
}

.footer-items {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-text {
	font-size: 13px;
	line-height: 18px;
	color: #363636;
}
